<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	</head>
	<body>
		<div id="title">PikiFriends</div>
		<div id="description">
The only online tool exclusively for Junior and Senior High Schools worldwide designed to improve English as a Second Language education and promote cross-cultural learning.<br/>
<br/>
It’s a unique, full-featured ‘penpal’ tool for secondary school students and teachers around the world.<br/>
<br/>
Safe, educational, easy to use and 100% free.<br/>
<br/>
PikiFriends joins school communities together like never before and provides its members with many exciting ways to make authentic connections using English.  Created by an experienced teacher, PikiFriends is a rare mix of sound educational methodology, cutting edge technology and functional design.<br/>
<br/>
PikiFriends is currently in the prototype phase.<br/>
Before our worldwide launch sometime in 2009, we are connecting a limited number of schools internationally for testing purposes.  If you would like to join or need information, please <a href='mailto:dionnej@ashleyhall.org'><u>contact</u></a> us.
		</div>
	</body>
</html>