<h1>Editing faq_category</h1>

<% form_for(@faq_category) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @faq_category %> |
<%= link_to 'Back', faq_categories_path %>