<faq>
 <category>
 <name>GENERAL</name>
 <link>
 <title>What is PikiFriends?</title>
 <body><p>PikiFriends is an online 'penpal' program made for junior and senior high school students and teachers only. Member students and teachers manage their own personal profiles and communicate with each other in a variety of ways using English. The main goal of PikiFriends is to improve English communication skills among EFL students.</p></body>
 </link>
 
 <link>
 <title>Who made PikiFriends?</title>
 <body><p>PikiFriends is the product of PikiPeople, Inc., founded by Jeffrey Dionne, M.Ed., who is living and teaching English in Tokyo, Japan at a private junior-senior high school.</p></body>
 </link>
 
 <link>
 <title>Who is PikiFriends for?</title>
 <body><p>It’s for accredited junior and senior high school students, teachers, and faculty only. It is not open to the public.</p></body>
 </link>
 
 <link>
 <title>Is PikiFriends only for ESL/EFL programs?</title>
 <body><p>No. Since PikiFriends is a glorified penpal tool, native English-speaking secondary students and teachers are benefitting as well.</p></body>
 </link>
 
 <link>
 <title>Is PikiFriends really free?</title>
 <body><p>Yes.</p></body>
 </link>
 
 <link>
 <title>How can it be free? Nothing is free!</title>
 <body>Our intention is to always offer the basic functions of PikiFriends for free to accredited secondary schools.<br />
In the future, we will try to offer some premium features and textbooks, as well as create beneficial affiliations with companies wishing to sponsor and assist the learning of PikiFriends members.<br />
<br />
 Here’s what PikiPeople, Inc. will NEVER do:<br />
We will never sell user’s personal information to third parties, never use ‘target marketing’ tools, and never use pop-up or deceptive advertising. The interests of our member schools are our top priority. We strongly believe that invasive and aggressive marketing techniques have no place in education.</body>
 </link>
 
 <link>
 <title>Is PikiFriends safe and private?</title>
 <body>Safety and privacy are our #1 priorities. Our safety features include: 1) Password protection, 2) closed network, only accredited secondary schools allowed to join, 3) student contact information not required, 4) all content monitored regularly, 5) no hidden messaging feature, all content can be seen by all members, 6) teachers have full control of their students' accounts, 7) automatic log out when browser is closed, 8) browsers do not 'remember' passwords, 9) teachers can put their students' accounts on "hold" anytime which prevents them from logging in, and 10) PikiFriends will never sell or share any private information of students. <br />
With a program like PikiFriends, there are 2 “danger” areas:<br />
<br />
1) <i>Inappropriate sharing/stealing of student personal information</i><br />
<u>Solutions:</u><br />
a) For students, use of PikiFriends requires their first names and last name initials ONLY (NO email, phone number, credit card, age, address...). This is one of the highly unusual features of PikiFriends, other similar sites require at least an email address for all users. We recommend, however, that teachers enter the full last names (instead of just the initial) in the system for easier organization purposes.<br />
b) Closed network - only accredited secondary school faculty and students are allowed to become members (**in our beta phase exceptions include trusted PikiPeople staff, university professors, and other special guests which do NOT include evil corporate marketers!).<br />
c) PikiPeople, Inc. monitors all interactions regularly. We are on the look out for students entering personal information such as addresses & phone numbers. We will notify the student and teacher immediately if we see anything out of the ordinary.<br />
d) PikiPeople will NEVER sell student personal information to third parties. We don’t have any personal information of any worth anyway.<br />
<br />
2) <i>Inappropriate words/images uploaded by students</i><br />
<u>Solutions:</u><br />
a) PikiPeople, Inc. monitors all interactions regularly. We stop any inappropriate use of language and imagery. We will notify the student and teacher if we find any violations.<br />
b) There are no hidden messages, no audio/video chats; all interactions on Piki are viewable by others. This is another highly unusual feature for this type of program, and it’s for the sake of keeping the interactions open and safe.<br />
c) Users cannot upload videos, which greatly lessens risk.<br />
d) The ‘School Organizer’ tool lets teachers monitor student activity easily. We all can keep an eye on things together. Check our user guide for more information.<br />
<br />
Remember, no website is 100% “safe.” A website’s safety and privacy levels are relative to the technology it uses and the amount of personal information it holds.<br />
<br />
In PikiFriends’ case, there is hardly any user personal information, so it is unlikely to be ‘attacked’ since hackers are usually looking for credit card numbers, contact information, etc. On the technology side, a login username and password are required, browsers do not ‘remember’ passwords, and users are automatically logged out when the browser is closed or the computer is shut down. We’ve taken every precaution possible to ensure safety.</body>
 </link>
 
 <link>
 <title>PikiFriends is in the prototype phase. What does this mean?</title>
 <body>PikiFriends is beginning its life with the basic features necessary to make it fun and effective to use in secondary schools. There are TONS of features we are planning to add as PikiFriends grows up. We welcome all ideas and advice, just let us know at <a href="mailto:info@piki-people.com">info@piki-people.com</a>. We hope to grow by listening and working with the secondary school ESL/EFL community.<br/> The prototype phase also means there may (read: will) be ‘bugs’ and some things might not run as smoothly as we hope. We appreciate your patience during this time!</body>
 </link>
 
 <link>
 <title>What is the educational philosophy behind PikiFriends?</title>
 <body><p align="center"><i>“You cannot teach a man anything; you can only help him find it within himself.”
­GALILEO</i></p>
<br/>
PikiFriends is a student-centered learning tool. It was uniquely designed to give ESL/EFL secondary school students the ability to use English as a real communication tool to connect with their peers all over the world.
Many young ESL/EFL students wonder, “Why do I need English?” Learning English is difficult and stressful for most students in secondary school, especially when the focus is on grammar textbooks and proficiency exams. Therefore it is imperative that educators make the learning more fun, motivating and effective to create life-long learners of English.<br/>
<br/>
<p align="center">
"The secret of education is respecting the pupil."<br/>
­RALPH WALDO EMERSON</p>
<br/>
We believe students are bored with grammar drills, dull textbooks, and sitting in traditional, non-interactive classrooms. Their boredom equates to no retention and zero intrinsic motivation. In order to facilitate a ‘spark’, or a deep connection to English, students need meaningful connections to real people using English, where they can share their similarities and differences in a guided yet autonomous environment.

Proper use of PikiFriends will create ‘sparks’ in students and give them a meaningful place for English in their lives. Sharing their favorite things, cultural differences and personalities using English is what ESL teachers all want their students to do. PikiFriends takes care of it!</body>
 </link>
 
 <link>
 <title>How is PikiFriends different from other computer programs?</title>
 <body>There are basically two types of computer-related tools for the ESL/EFL world in use at schools today, offline and online.<br/>
<br/>
<i>Offline Computer Tools</i><br/>
There are two types of offline tools for schools. The first is programs such as Microsoft Word, PowerPoint, etc. which aid students when submitting work and giving presentations. Teachers also use this type to present content in their lessons. The second type includes computer programs with set courses, practice questions, and tests, such as Rosetta Stone (they also have online options). This type is relatively easy to install and use, and can provide very useful practice for English proficiency standardized tests.<br/>
<br/>
<i>Online Computer Tools</i><br/>
Online programs can also be broken down into two types. The first type includes interactive games and quizzes ranging from free to costly and from simple to extremely elaborate. The second type is some variant of Web 2.0 or SNS technology, allowing user generated content to be exchanged between users in varying degrees of complexity. On the simple scale, many sites allow only for blog exchanges (very useful in the ESL classroom), and some more complex sites exist such as www.thinkquest.com, www.epals.com, http://smart.fm/, which range greatly in features and user safety. We recommend trying all of them, as there are many great tools out there and a lot of them are free.<br/>
<br/>
PikiFriends belongs to this last group, because it uses SNS technology and concepts.<br/>
What separates Piki from the rest is:<br/>
-PikiFriends is the only network we are aware of which is made only for secondary schools with a focus on ESL/EFL.<br/>
-Teachers have unprecedented control with the “School Organizer” tool, there’s simply nothing like it anywhere on the web. (See our user guide for information)<br/>
-PikiFriends doesn’t require student contact information (first name and last name initial only), a very unusual safety feature in the SNS world.<br/>
-PikiFriends is being programmed from scratch, so the design and user-ability are completely unique.<br/>
-PikiFriends is deceptively simple to use. It’s the most practical and easy-to-use SNS tool we’ve ever come across online.<br/>
-As PikiFriends grows, we will be adding very unique features designed to motivate students to use more English and ways for teachers to help student English proficiency.
</body>
 </link>
 
 <link>
 <title>There are many other SNS sites, why use PikiFriends?</title>
 <body>There are a lot of reasons.<br/>
-As of this writing, it is the only SNS designed specifically for ESL/EFL programs in junior and senior high schools.<br/>
-PikiFriends was created and is being tested “in the trenches” at a private junior/senior high school based in Tokyo. We’re not some company looking down from our high-rise offices, we’re educators who are passionate about improving English education.<br/>
-The design is completely original, and it can be used with unprecedented ease.<br/>
-Security is unusually high for an SNS. See #7 for more about how safe Piki is.<br/>
-PikiFriends is about building relationships between students and teachers using a multimedia version of the pen-pal concept. It’s about motivation, student-centered, active learning. PikiFriends can give students reasons to want to be better at English and to want to learn about other cultures around the world.<br/>
-While the program is all in English to encourage immersive English study, the interface is user-friendly and built for non-native speakers of English.<br/>
-Membership is free for accredited secondary schools.<br/>
-We offer a ‘School Organizer’ tool which gives teachers amazing control over their own student and teacher accounts.</body>
 </link>
 
 <link>
 <title>What are the system requirements?</title>
 <body>Any computer with an internet connection and updated Flash (<a href="http://get.adobe.com/flashplayer/">http://get.adobe.com/flashplayer/</a>) will work. In our tests, all major browsers are supported (Windows Explorer, Firefox, Safari, Google Chrome, Opera).<br/>
Questions/problems? Let us know at: <a href='mailto:info@piki-people.com'>info@piki-people.com</a></body>
 </link>
 
 <link>
 <title>Is there help in other languages besides English?</title>
 <body><p>We are working on translating our help files into other languages. That’s one of the zillion things on our list of things to do! Want to help? By the way, we speak Japanese.</p></body>
 </link>
 </category>
 
<category>
<name>PIKIFRIENDS FEATURES</name>
<link>
 <title>How do I... blog/add images/edit/etc.?</title>
 <body>Please refer to the “How to Use PikiFriends” guide. It can be found on our homepage (www.pikifriends.net). Check regularly for updates.</body>
</link>

<link>
<title>How do I add/delete student and teacher accounts?</title>
<body>The new ‘School Organizer’ Tool lets teachers add and delete student and teacher accounts to their school.  Student accounts can be added and used instantly, but new teacher accounts must be approved by us before created.<br/>
<br/>
Please refer to the “How to Use PikiFriends” guide on our homepage and please check regularly for updates.<br/>
<br/>
To become a new member, see #33.</body>
</link>

<link>
<title>What does becoming a ‘friend’ change? Does it change user privileges?</title>
<body>In making PikiFriends, we designed the interface to be open to all users. We want to promote an even and unbiased friendliness, and we very much want to avoid segregation and exclusive ‘cliques.’<br/>
When 2 PikiFriends members become ‘friends,’ it does not change user privileges. Once you make a 'friend', that friend is added to your friend list, and you can see their recent activity.</body>
</link>

<link>
<title>Why is there no chat feature? My students want to talk to their PikiFriends!</title>
<body>Honestly we’d love to include this feature for obvious reasons. However since we at PikiPeople have a responsibility to monitor all exchanges, we think freely allowing students to chat isn’t safe. That’s why in the PikiFriends interface, all information is visible on the profile pages and there’s no hidden messaging or chatting.<br/>
In the future, we envision live class-to-class chats managed by teachers within the PikiFriends interface. Chat technology is always improving and we hope there will be a simple way to do this in the near future.</body>
</link>
</category>

<category>
<name>USING PIKIFRIENDS WITH STUDENTS</name>
<link>
<title>I’m terrible with computers. Is PikiFriends difficult to use?</title>
<body>No, it is not difficult. We did our best to make PikiFriends as simple as possible. Try it and let us know. We have provided a user guide for those who need it on our homepage.</body>
</link>

<link>
<title>How long does it take to figure out how to use PikiFriends?</title>
<body>We predict it will take the average user less than 10 minutes to figure out the basics.<br/>
For those who have never used a computer before, or who have trouble using Microsoft Word for example, it will most certainly take longer. If you are familiar with tools like Facebook, MySpace and LinkedIn, PikiFriends is a no-brainer (that’s how we like it).</body>
</link>

<link>
<title>Does PikiFriends help student English levels improve?</title>
<body>We do not have any conclusive evidence, so we are not officially claiming PikiFriends helps English levels go up. Not yet, anyway.<br/>
So far, we’ve noticed 2 interesting results:<br/>
<br/>
<li>The student-centered nature of PikiFriends means member students are using English because they want to, not because they have to. This fact alone is significant, as a great number of EFL secondary school students spend approximately 0 hours outside of class time using English. PikiFriends seems to be extremely helpful in raising student motivation to use English, as it directly impacts their lives, i.e., their friendships on the PikiFriends network. Also curiosity of other cultures is a natural motivator to increase communication.</li>
<br/>
<li>There have been several instances of students who are extremely quiet and reserved in class who become surprisingly outgoing and communicative on PikiFriends.</li></body>
</link>

<link>
<title>How do you know PikiPeople is effective?</title>
<body>PikiFriends is too new to be able to present statistically relevant statements about its effectiveness. At this point all we can say is we strongly believe that PikiFriends is an extremely effective tool for ESL/EFL teachers.<br/>
Do you believe study abroad programs are effective? We do, in fact we think there is no better way to learn a new language than experiencing supported cultural immersion and consistent opportunities to use the target language in real life with real people over a long period of time.<br/>
PikiFriends is the next best thing to studying abroad. And in some ways maybe it is better, since it has the potential to connect millions from all over the world, it’s free, and the only time limit is graduation from high school.<br/>
Over time we will collect user testimonials and usage information in an attempt to prove that consistent use of PikiFriends improves student motivation, confidence and English ability, and we welcome any researchers who are interesting in helping.</body>
</link>

<link>
<title>How does PikiFriends fit into the curriculum?</title>
<body>This greatly depends on a teacher’s motivation and situation. We recommend that teachers use it to compliment to their existing school programs.<br/>
There are many ways to incorporate PikiFriends into classwork. We’re currently developing a textbook.  There's also a small list of ideas here: <a href='http://www.wallwisher.com/wall/PikiFriends' target='_blank'>www.wallwisher.com/wall/PikiFriends</a><br/>
</body>
</link>

<link>
<title>How can I use PikiFriends in ESL class?</title>
<body>We're developing a textbook now, and we'll share lesson plans and worksheets with you before the official release.  Contact us for info.</body>
</link>

<link>
<title>How do I introduce PikiFriends to my students?</title>
<body>***IMPORTANT***<br/>
<i>Students must never enter personal information on their profile page (last name, address, phone numbers, email address, etc.), never use bad language, never bully, and never upload inappropriate images.</i><br/>
<br/>
We think that first the teacher should try it and learn how to use it. Then adding students and other teachers is easy, please check out our user guide on the homepage.<br/>
<br/>
When you’re ready to introduce PikiFriends to your students, you’ll need to bring 3 things to class:<br/>
1) Your student user names and passwords (downloadable in Excel format from the School Organizer tool)<br/>
2) At least one computer connected to the internet for presenting PikiFriends OR present the “How to Use PikiFriends” file to your students (see #14).<br/>
3) A plan to use PikiFriends as a part of your class.<br/>
<br/>
Concerning #3, how you use Piki is up to you, but here are some ideas:<br/>
<br/>
1) Introduction<br/>
 	Here’s a sample ‘script’ of what you could say to your students. This is specifically for ESL/EFL students. If your students are beginner English speakers, you’ll need to simplify and/or translate it.<br/>
<br/>
<i>Today I’m going to show you a new computer program called PikiFriends. What is it? PikiFriends is an online English learning community for junior and senior high school students and their teachers. You can communicate in English with other members in your own school and even other schools in different countries! With PikiFriends, there are only 3 golden rules to remember:</i><br/>
<br/>
<p align='center'><b><i>#1 ­ Be Friendly<br/>#2 ­ Be Safe<br/>#3 ­ Use English</i></b></p>
<br/>
<i><b>#1: Be Friendly</b><br/>
On PikiFriends you will be connecting with others, so make a lot of friends, compliment others, respect differences, share positive things, ask good questions, and reply to others.<br/> 
<b>#2: Be Safe</b><br/>
DO NOT enter personal information that can be used to contact you outside of PikiFriends, such as your email address, home address, telephone number or even your last name (it's OK to enter last names in the "About Me" area, it won't appear on your profile). PikiFriends and teachers will be checking to make sure you don’t violate this rule.<br/>
DO NOT upload inappropriate images. Let’s keep it clean!Don't say anything that might hurt someone else, whether it’s a member of PikiFriends or not. Bullying, swear words, name­calling, teasing, or other abuses will NOT be tolerated and will result in the cancellation of your account. If you see someone breaking this rule, please tell your teacher.<br/>
Keep your username and password secret!<br/>
<b>#3: Use English</b><br/>
It might be hard, but EVERYONE who learns a new language has the exact same feeling so don’t be shy and give it a try. If you don't understand, say so!</i><br/>
<br/>
Next, you can show your students the PikiFriends interface step-by-step by using your own account, or use the “How to Use PikiFriends” tutorial.<br/>
<br/>
To help students start, there is a simple “About Me worksheet” located here:<br/>
<a href='http://public.me.com/jeffreydionne'>http://public.me.com/jeffreydionne</a><br/>
<br/>
Finally, your students are all set up to use Piki whenever they like. To get the most benefit out of Piki, incorporate what you're teaching into PikiFriends.  Contact us for ideas!</body>
</link>

<link>
<title>What if my students don’t have a computer at home?</title>
<body>As long as students have access and time to use a school computer with an internet connection, it should be sufficient. Obviously, if teachers plan to assign homework using PikiFriends, they should make sure students have more or less equal access to the internet.</body>
</link>

<link>
<title>Can member students use languages other than English?</title>
<body>We hope PikiFriends will be English only. But if someone wants to say hello in Spanish, that’s great, students should be encouraged to share their cultures with each other. However, character-based languages such as Chinese, Korean or Arabic are not supported (this is intentional).</body>
</link>

<link>
<title>Can I choose with whom my school connects with?</title>
<body>No, at this point PikiFriends is one large community, all sharing together. Maybe in the future we’ll be able to offer custom networks.</body>
</link>

<link>
<title>My student’s writing needs help. How can I proofread their writing in Piki?</title>
<body>There's a Proofreader tool for teachers!  You can check your student's blog entries and send it back to them for a rewrite.</body>
</link>

<link>
<title>I want to check my student’s new activity. How do I do that?</title>
<body>2 places: the ‘School Organizer’ tool, and the ’New!’ area. Please refer to the “How to Use PikiFriends” guide at:<br/>
<a href='http://public.me.com/jeffreydionne' target='_blank'>http://public.me.com/jeffreydionne</a> and check regularly for updates.</body>
</link>

<link>
<title>Can I access PikiFriends from my cell phone?</title>
<body>No, cell phones can not access PikiFriends at this time. In the future we would like to have offer types of access that do not compromise safety.</body>
</link>
</category>

<category>
<name>USER NAMES AND PASSWORDS</name>
<link>
<title>How can I manage the user names and passwords for my students?</title>
<body>Teachers create and have access to all of their student usernames and passwords with the ‘School Organizer’ tool in the PikiFriends interface (see our How to Use PikiFriends guide).<br/>
<br/>
We at PikiPeople don’t have student email addresses, so we do not contact students outside of PikiFriends. That means if a student forgets his or her login information (it happens!), they have to ask you, their teacher. Please print out your student user names and passwords, and keep them in a safe but easily accessible place. We recommend that teachers never take student user name and password information off of school grounds.</body>
</link>

<link>
<title>Can I change my student’s user names and passwords? Can I change my user name and password?</title>
<body>When teachers create their own student accounts (see our user guide), they decide the students’ usernames and passwords (or there's an automatic password generated). After creation of the account, teachers can easily change their students’ passwords using the ‘School Organizer’ tool, but not the usernames. If changing the username is absolutely critical, please contact us and we’ll change it for you.<br/>
<br/>
If teachers wish to change their own usernames and passwords, contact us and tell us your favorite user name and password and we’ll change it for you.</body>
</link>

<link>
<title>Are user names and passwords case sensitive?</title>
<body>No, you can use both capital and lower case letters freely. Numbers can be used, too.</body>
</link>
</category>

<category>
<name>BECOMING A MEMBER</name>
<link>
<title>How do I become a member?</title>
<body>Teachers and/or faculty from accredited junior or senior high schools should contact us at <a href='mailto:info@piki-people.com'>info@piki-people.com</a> and provide<br/>
1) teacher's name,<br/>
2) teacher's school e-mail address,<br/>
3) school name,<br/>
4) school address, and<br/>
5) your school web page if available.</body>
</link>

<link>
<title>Why is PikiFriends only for secondary schools?</title>
<body>Secondary school ESL programs around the world are very similar to each other. We think they can benefit greatly from using the internet to connect with each other, and we want to give them a dedicated tool for this. Over time, we hope to introduce many tools that will enable Piki to smoothly become a part of a secondary school curriculum.<br/>
<br/>
Also, we believe 12-18 year old students will love to use a tool built just for them. If we included university students, for example, younger members might become more apprehensive about interacting. With only secondary school students, we hope students will be very comfortable to interact openly and enjoyably.</body>
</link>

<link>
<title>I’m not a secondary school teacher, faculty, or student. Can I join PikiFriends?</title>
<body>No, but if you are an educator we would love to hear from you. In our beta phase, we sometimes allow teachers from elementary and university levels to check out Piki. PikiFriends is also not for private language schools.Hando. We want to positively impact education by providing creative and useful internet tools to students and teachers. For now, PikiFriends is our only project.</body>
</link>
</category>
<category>
<name>ABOUT US</name>
<link>
<title>Who is PikiPeople, Inc.?</title>
<body>We are a very small company established in 2008 by Jeffrey Dionne, M.Ed. (an English teacher in Tokyo, Japan at a private junior-senior high school).</body>
</link>

<link>
<title>Where did the name PikiFriends come from?</title>
<body>We'll never tell! But once you start using it, you might find yourself saying very silly things like “Did you Piki yesterday?” or “It’s time to Piki!” At least that’s what happened to us.</body>
</link>

<link>
<title>How do I contact PikiPeople?</title>
<body>Send all inquiries to PikiPeople at <a href='mailto:info@piki-people.com'>info@piki-people.com</a>. The link to this address can be found on our homepage (www.pikifriends.net) and all PikiFriends pages in the bottom right corner of the screen.</body>
</link>

<link>
<title>Can a PikiPeople person (say that 5 times fast!) come to my school to explain PikiFriends?</title>
<body>If we can, we would love to! Contact us at <a href='mailto:info@piki-people.com'>info@piki-people.com</a> and we’ll see what we can do.</body>
</link>

</category>
</faq>