<links>
  <category>
    <name>PikiFriends</name>
    <link>
      <title>Term of use</title>
      <path>/term_of_use</path>
    </link>
    <link>
      <title>Privacy Policy</title>
      <path>/privacy_policy</path>
    </link>
    <link>
      <title>Contact</title>
      <url><%=h 'mailto:dionnej@ashleyhall.org?subject=PikiFriends' %></url>
    </link>
  </category>
  
  <category>
    <name>Communications</name>
    <link>
      <title>Wallwisher</title>
      <url>http://www.wallwisher.com/wall/PikiFriends</url>
    </link>
    <link>
      <title>Linkedin</title>
      <url><%=h 'http://www.linkedin.com/groups?home=&gid=2286842' %></url>
    </link>
  </category>
  
  <category>
    <name>Help</name>
    <link>
      <title>FAQ</title>
      <path>/faq</path>
    </link>
  </category>
  
</links>